@model WebGarden_PI.Model.Board

<div class="registerForm">
    @using (Html.BeginForm("create", "Board", new { isAjaxRequest = false }))
    {
            <fieldset>
                <legend>Criar novo quadro</legend>
                <div>
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field" id="erro_name">
                    @Html.EditorFor(model => model.Name, new { id = "Name" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div>
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Description, new { rows = 5 })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
                <div>
                    <div style="display: inline;">@Html.ActionLink("Voltar", "Index", "Home")</div>
                    <div style="display: inline; float: right; text-align: right;">
                     <input type="submit" value="criar" style="float: right;" id="create" /></div>                        
                </div>
            </fieldset>
            @Html.ValidationSummary(true, "Ocorreu um erro ao criar o quadro. Por favor corrija os erros e tente novamente:")
        
    }

</div>