@model PI_MVC.Models.DTO.BoardDetailsDTO

@{
    ViewBag.Title = (@Model.SingleBoard.Second as WebGarden_PI.Model.Board).Name;
    ViewBag.Description = (@Model.SingleBoard.Second as WebGarden_PI.Model.Board).Description;
    
}

@if (!Model.IsVisual)
{
    <script src="@Url.Content("~/Scripts/Sortable.js")" type="text/javascript"></script>
    @Html.Hidden("BoardId", (Model.SingleBoard.Second as WebGarden_PI.Model.Board).Id)
}

<span>
    @Html.ActionLink("Edit board","Edit",new{id =(Model.SingleBoard.Second as WebGarden_PI.Model.Board).Id})
    <br />
    @if(!Model.IsVisual){
    @Html.ActionLink("Adicionar Lista", "Create", "List", new { bid = (Model.SingleBoard.Second as WebGarden_PI.Model.Board).Id }, null)
    }
         <br />
     @Html.ActionLink("Arquivo", "Archive", "Board",new { bid = (Model.SingleBoard.Second as WebGarden_PI.Model.Board).Id }, null)
</span>

    @Html.Hidden("users", @ViewData["users"], new {id="list"})
    @Html.Partial("BoardSharePartial",Model) 
<br />
<div id="ListsList">
    @{
        if (Model.BoardLists != null && Model.BoardLists.Count() > 0)
        {
            foreach (var list in Model.BoardLists)
            {
                <div class="list" id="@list.Id">
                    <fieldset>
                        <legend>@list.Name</legend>
                        <div class="droppable" style="min-height: 50px;">
                            @foreach (var card in Model.BoardCards[list.Id])
                            {
                                <div id="@card.Id" class="card" itemid="@list.Id">
                                    <div><strong>@Html.Label(card.Name)</strong></div>
                                    <div>@Html.Label(card.Description)</div>
                                    <div class="cardButtons">

                                        <div style="display: inline;">
                                            @Html.ActionLink("Editar", "Edit", "Card", new { board = (Model.SingleBoard.Second as WebGarden_PI.Model.Board).Id, list = list.Id, id =  card.Id }, null)
                                        </div>
                                    
                                    </div>
                                </div>
                            }
                        </div>
                         <div>
                                    <div style="display: inline;">
                                        @Html.ActionLink("Editar", "Edit", "List", new { board = (Model.SingleBoard.Second as WebGarden_PI.Model.Board).Id, list= list.Id}, null)
                                    </div>
                                    @if(!Model.IsVisual){
                                    <div style="text-align: right; padding-top: 5px;">
                                        @Html.ActionLink("Adicionar Cartão", "Create", "Card", new { board = (Model.SingleBoard.Second as WebGarden_PI.Model.Board).Id, list = list.Id }, null)
                                    </div>
                                        if (Model.IsOwned&&Model.BoardCards[list.Id].Count == 0)
                                        {
                                        <div>
                                         @Html.ActionLink("Eliminar lista", "Delete", "List", new { board = (Model.SingleBoard.Second as WebGarden_PI.Model.Board).Id, list = list.Id }, null)
                                        </div>
                                    }
                                    }
                        </div>
                        
                    </fieldset>
                </div>
            }
            
            @*<p>  
                @Html.ActionLink("Delete this board", "Delete", );
            </p>*@
        }
        else
        {
            <p>Não existem listas neste quadro.</p>
        }
    }
</div>
<p>
    @Html.ActionLink("voltar a lista de quadros","Index")
</p>