<!DOCTYPE html>
<html>
    <head>
        <title>Trello PI - @ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Trello.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/validate.form.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>        
    </head>
    <body>
        <div id="contentWraper">
            @Html.Partial("_HeaderPartial")
            <div id="actionBar">
                <div class="wraper">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
            <div id="mainContentDiv">
                <div id="body">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>
            </div>
        </div>
        @Html.Partial("_FooterPartial")
    </body>
</html>


