<div style="text-align: right;">
    @if(Request.IsAuthenticated) {
        @Html.Label("", "Bem-vindo ")
        @Html.ActionLink(User.Identity.Name, "Profile","User")
    }
    else {
        @Html.Label("", "[ ")
        @Html.ActionLink("Iniciar Sessão", "LogOn", "Account")
        @Html.Label("", " | ")
        @Html.ActionLink("Registar Conta", "Register", "Account")
        @Html.Label("", " ]")
    }
</div>